{
  "extends": "airbnb",
  "plugins": [
    "react"
  ],
  "rules": {
    // disable requiring trailing commas because it might be nice to revert to
    // being JSON at some point, and I don't want to make big changes now.
    "comma-dangle": 0,
    "no-console": 0,
    "id-length": 0,
    "react/prop-types": 0
  },
  "ecmaFeatures": {
    "arrowFunctions": true
  }
}
